#demo2{
    background:#98bf21;
    height:100px;
    width:100px;
    position:absolute;
    left: 50;
    border-radius: 50%;
   
  
    
}
p{
    justify-content:center;
    align-items: center;

}