*{
    box-sizing: border-box;
}
body,html{
    margin: 0em;
}
/*页面头部*/
.header{
    height: 15vh;
    position: fixed;
    width: 100%;
    background-color:#a43845;
    padding-top: 5vh;
}
.header .userinfo{

    height: 5vh;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}
.header .userinfo img{
    width: 40px;
    border-radius: 20px;
}
.header .userinfo .header-search{
    margin-left: 3vw;
}
.header .userinfo .header-search i{
    position: absolute;
    margin-top:1vh;
    margin-left: 2vw;
    font-size: 19px;
    color: #777777;
    font-weight: 700;
}
.header .userinfo .header-search input{
    width: 60vw;
    height: 4vh;
    border-radius: 2vh;
    border:0; 
}
.header .userinfo .header-right{
    width: 100%;
    text-align: center;
    display: flex;
}
.header .userinfo .header-right i{
    margin-left: 3vw;
    color: white;
    font-size: 25px;
}
.header .menu-nav{
    height: 5vh;

    overflow-x: scroll;
}
.header .menu-nav .menu{
    display: flex;
    line-height: 5vh;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}
::-webkit-scrollbar{
    display: none;
}

.header .menu-nav .menu .item{
    margin-left: 10vw;
    white-space: nowrap;
    color: white;
}

/*页面身体*/
.content{
    padding: 15vh 15px 0 15px;
    height: 100vh;
    background-color: #ffffff;
}
.content #banner{
    margin-top: 15px;

    width: 100%;
    height: 200px;

}

/*swiper滑块样式*/
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
:root {
    --swiper-theme-color: rgb(252,115,159)!important;
}
  .swiper-slide img{
      width: 100%;
      height: 100%;
      border-radius: 15px;
  }

/*页面底部*/
.tabBar{
    height: 15vh;
    position: fixed; 
    width: 100%;
    bottom: 0;
    background-color:#a43845;
}